.page__title {
    margin: 1rem 0;
    font-size: 2rem;
}

.profil-card {
    width: 15rem;
        font-size: 1rem;
        padding: 0.8rem;
        margin-top: 2rem;
        border-radius: 20px 20px;
        border: 1px solid rgb(217, 217, 217);
        box-shadow: 0px 0px 10px 3px rgb(194, 194, 194);
        @include flex-justify-align-center;
        flex-direction: column;

    .user-img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        margin-bottom: 1rem;
        border-radius: 200%;
        box-shadow: 0px 0px 10px 3px rgb(194, 194, 194);
    }

    .icon-img {
        font-size: 1.5rem;
        right: 4.9rem;
        position: absolute;
        cursor: pointer;
    }

    .update-img {
        @extend .user-img;
    }

    label {
        position: relative;
    }
    .update-file {
        display: none;
    }


    p {
        text-align: center;
    }

    input, p {
    width: 90%;
    padding: 10px;
    border-radius: 20px 20px;
    }

    input {
        margin-top: 1rem;
        border: 1px solid rgb(217, 217, 217);
        font-size: 1rem;
    }

    button {
        width: 10rem;
        padding: 0.9rem;
        border-radius: 20px 20px;
        margin-top: 1rem;
        box-shadow: 0px 0px 10px 3px rgb(194, 194, 194);
        color: #fff;
        background-color: #dc3545;
        border: none;
        font-size: 1rem;
    }
    
    .button--disabled {
        pointer-events: none;
        opacity: 0.65;
    }

    .go-back {
        width: 13rem;
        font-size: 2rem;
        cursor: pointer;
    }

    @media only screen and (min-width: 600px) {
        width: 25rem;

        .user-img {
            height: 150px;
            width: 150px;
        }
        .update-img {
            height: 100px;
            width: 100px;
        }
        .go-back {
            width: 22rem;
        }
        button {
            width: 15rem;
        }
    }
}
